<div class="row">
  <div class="col-lg-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <h2 class="my-4">Products</h2>
      <div class="col-xs-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col">
              <label for="title">Title</label>
              <input
                type="text"
                id="title"
                formControlName="title"
                class="form-control"
                placeholder="Title">
              <span *ngIf="!form.get('title').valid && form.get('title').touched"
                    class="help-block">
                Please add title
              </span>
            </div>
            <div class="form-group col">
              <label for="price">Price</label>
              <input
                type="text"
                id="price"
                formControlName="price"
                class="form-control"
                placeholder="10">
              <span *ngIf="!form.get('price').valid && form.get('price').touched"
                    class="help-block">
                {{form.get('price').invalid ? 'Price must consist of numbers' : 'Please add price'}}
              </span>
            </div>
            <div class="form-group col">
              <label for="description">Description</label>
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Some description">
              <span *ngIf="!form.get('description').valid && form.get('description').touched"
                    class="help-block">
                Please add description
              </span>
            </div>
            <div class="form-group col">
              <label for="picture">Picture</label>
              <input
                type="text"
                id="picture"
                formControlName="picture"
                class="form-control"
                placeholder="Picture URL">
              <span *ngIf="!form.get('picture').valid && form.get('picture').touched"
                    class="help-block">
                Please add picture
              </span>
            </div>
            <div class="form-group col">
              <label for="category">Category</label>
              <input
                type="text"
                id="category"
                formControlName="categoryId"
                class="form-control"
                placeholder="category_title">
              <span *ngIf="!form.get('categoryId').valid && form.get('categoryId').touched"
                    class="help-block">
                Please add category
              </span>
            </div>
            <div class="form-group col">
              <label for="volume">Volume</label>
              <input
                type="text"
                id="volume"
                formControlName="volume"
                class="form-control"
                placeholder="volume">
              <span *ngIf="!form.get('volume').valid && form.get('volume').touched"
                    class="help-block">
                Please add volume
              </span>
            </div>
            <div class="form-group col">
              <label for="units">Units</label>
              <input
                type="text"
                id="units"
                formControlName="units"
                class="form-control"
                placeholder="units_title">
              <span *ngIf="!form.get('units').valid && form.get('units').touched"
                    class="help-block">
                Please add units
              </span>
            </div>
            <div class="form-group col">
              <label for="producer">Producer</label>
              <input
                type="text"
                id="producer"
                formControlName="producer"
                class="form-control"
                placeholder="producer_title">
              <span *ngIf="!form.get('producer').valid && form.get('producer').touched"
                    class="help-block">
                Please add producer
              </span>
            </div>

            <div class="col-xs-12">
              <button type="button"
                      class="btn btn-warning"
                      (click)="onClear()">Clear
              </button>
            </div>
            <div class="col-xs-12">
              <button type="submit"
                      class="btn btn-success"
                      [disabled]="!form.valid">
                {{editMode ? 'Update' : 'Add'}}
              </button>
            </div>
            <div class="form-group col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                [disabled]="!editMode"
                (click)="onDelete()">Delete
              </button>
            </div>
          </div>

          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Picture</th>
              <th scope="col">Category</th>
              <th scope="col">Volume</th>
              <th scope="col">Units</th>
              <th scope="col">Producer</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products; let i = index"
                (click)="onEdit(product.id)">
              <td>{{i + 1}}</td>
              <td>{{product.title}}</td>
              <td>{{product.price}}</td>
              <td>{{product.description}}</td>
              <td>{{product.picture}}</td>
              <td>{{product.categoryId}}</td>
              <td>{{product.volume}}</td>
              <td>{{product.units}}</td>
              <td>{{product.producer}}</td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
