<div class="wrapper fadeInDown">
  <div id="formContent">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          id="login"
          formControlName="email"
          class="form-control fadeIn second"
          placeholder="login">
        <span *ngIf="!form.get('email').valid && form.get('email').touched"
              class="help-block">
                Please add login
        </span>
      </div>
      <div class="form-group">
        <input
          type="text"
          id="password"
          formControlName="password"
          class="form-control fadeIn third"
          placeholder="password">
        <span *ngIf="!form.get('password').valid && form.get('password').touched"
              class="help-block">
                Please add password
        </span>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div id="formFooter">
<!--      <a class="underlineHover" [routerLink]="">Forgot Password?</a>-->
    </div>
  </div>
</div>
