<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <h2 class="my-4">Admin panel</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/admin/dashboard']"
             style="cursor: pointer"
             [routerLinkActive]="['active']"
             (click)="showDashboard()">
            Dashboard
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/admin/category'] "
             style="cursor: pointer"
             [routerLinkActive]="['active']"
             (click)="getCategories()">
            Categories
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/admin/product']"
             style="cursor: pointer"
             [routerLinkActive]="['active']"
             (click)="getProducts()">
            Products
          </a>
        </li>

      </ul>
    </div>

    <div class="col-lg-9">
      <ng-template [ngIf]="type == 'dashboard'">
        <h2 class="my-4">dashboard</h2>
      </ng-template>
      <ng-template [ngIf]="type == 'categories'">
        <div class="row">
          <h2 class="my-4">Categories</h2>
          <div class="col-xs-12">
            <form [formGroup]="adminCategoriesForm" (ngSubmit)="categoryOnSubmit()">
              <div class="row form-row">
                <div class="form-group col col-1">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control"
                    placeholder="">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="normal_name"
                    formControlName="normal_name"
                    class="form-control"
                    placeholder="">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="parent"
                    formControlName="parent"
                    class="form-control"
                    placeholder="">
                </div>
                <div class="col-xs-12">
                  <button type="button"
                          class="btn btn-success"
                          (click)="onAddCategory()">Add category
                  </button>
                </div>
              </div>

              <div class="row form-row" *ngFor="let category of getCategories(); let i = index">
                <div class="form-group col col-1">
                  {{i + 1}}
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    placeholder="{{category.name}}">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="normal_name"
                    class="form-control"
                    placeholder="{{category.normal_name}}">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="parent"
                    class="form-control"
                    placeholder="{{category.parent}}">
                </div>
                <div class="form-group col-xs-2">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onDeleteCategory(i)">X
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="type == 'products'">
        <div class="row">
          <h2 class="my-4">Products</h2>
          <div class="col-xs-12">
            <form [formGroup]="adminProductsForm" (ngSubmit)="productOnSubmit()">
              <div class="form-row">
                <div class="form-group col col-1">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="title"
                    formControlName="title"
                    class="form-control">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="price"
                    formControlName="price"
                    class="form-control">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="description"
                    formControlName="description"
                    class="form-control">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="picture"
                    formControlName="picture"
                    class="form-control">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    id="category"
                    formControlName="category"
                    class="form-control">
                </div>
                <div class="col-xs-12">
                  <button type="button"
                          class="btn btn-success"
                          (click)="onAddProduct()">Add product
                  </button>
                </div>
              </div>

              <div class="form-row" *ngFor="let product of getProducts(); let i = index">
                <div class="form-group col col-1">
                  {{i + 1}}
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="title"
                    class="form-control"
                    placeholder="{{product.title}}">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="price"
                    class="form-control"
                    placeholder="{{product.price}}">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="description"
                    class="form-control"
                    placeholder="{{product.description}}">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="picture"
                    class="form-control"
                    placeholder="{{product.picture}}">
                </div>
                <div class="form-group col">
                  <input
                    type="text"
                    formControlName="category"
                    class="form-control"
                    placeholder="{{product.category}}">
                </div>
                <div class="form-group col-xs-2">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onDeleteProduct(i)">X
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</div>
