<div class="row">
  <div class="col-lg-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-9">
    <div class="row my-4">
      <div *ngIf="isLoading" style="text-align: center; width: 100%; margin-top: 25%;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <app-product-item class="col-lg-4 col-md-6 mb-4"
                        [style.display]="isLoading? 'none': 'inherit'"
                        *ngFor="let product of products"
                        [product]="product">
      </app-product-item>
    </div>
    <app-pages [style.display]="isLoading? 'none': 'inherit'"
               [pages]="pages"
               endpoint="products">
    </app-pages>
  </div>
</div>
