<div class="card h-100">
  <a [routerLink]="['/', 'products', product.id]">
    <img class="card-img-top product_img" src="{{ product.picture }}" alt="{{ product.name }}">
  </a>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/', 'products', product.id]">{{ product.name }}</a>
    </h4>
    <!--<h5>${{ product.price }}</h5>-->
    <div class="action-wrap">
      <a [routerLink]="" class="float-right" (click)="addToCart()">
        <fa name="shopping-cart" size="lg"></fa>
      </a>
      <div class="price-wrap">
        <span class="price-new h5">{{ product.price }} {{currency}}</span>, {{product.volume}} {{product.units}}
      </div>
    </div>
    <p class="card-text">{{ product.description }}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
  </div>
</div>
