h2 {
  width: 100%;
}

.btn {
  margin-top: 32px;
}

tr {
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border: 1px solid #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

.help-block {
  color: #dc3545;
}

label {
  font-weight: bold;
}

.table-responsive {
  display: table;
}
