<div class="row">
  <div class="col-lg-3">
    <app-admin-menu></app-admin-menu>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <h2 class="my-4">Categories</h2>
      <div class="col-xs-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row form-row">
            <div class="form-group col">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                placeholder="cake">
              <span *ngIf="!form.get('name').valid && form.get('name').touched"
                    class="help-block">
                Please add name
              </span>
            </div>
            <div class="form-group col">
              <label for="displayName">Display name</label>
              <input
                type="text"
                id="displayName"
                formControlName="displayName"
                class="form-control"
                placeholder="Кексы">
              <span *ngIf="!form.get('displayName').valid && form.get('displayName').touched"
                    class="help-block">
                Please add display name
              </span>
            </div>
            <div class="form-group col">
              <label for="parentId">Parent categories</label>
              <select class="form-control"
                      id="parentId"
                      formControlName="parentId">
                <option [ngValue]=""></option>
                <option *ngFor="let key of objectKeys(categoryNames)" [ngValue]="key">{{categoryNames[key]}}</option>
              </select>
            </div>
            <div class="col-xs-12">
              <button type="button"
                      class="btn btn-warning"
                      (click)="onClear()">Clear
              </button>
            </div>
            <div class="col-xs-12">
              <button type="submit"
                      class="btn btn-success"
                      [disabled]="!form.valid">
                {{editMode ? 'Update' : 'Add'}}
              </button>
            </div>
            <div class="form-group col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                [disabled]="!editMode"
                (click)="onDelete()">Delete
              </button>
            </div>
          </div>

          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Name</th>
              <th scope="col">Normal name</th>
              <th scope="col">Parent category</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories; let i = index"
                (click)="onEdit(category.id)">
              <td>{{i + 1}}</td>
              <td>{{category.name}}</td>
              <td>{{category.displayName}}</td>
              <td>{{categoryNames[category.parentId]}}</td>
            </tr>
            </tbody>
          </table>
          <!--          <div class="row form-row" *ngFor="let category of categories; let i = index">-->
          <!--            <div class="form-group col col-1">-->
          <!--              {{i + 1}}-->
          <!--            </div>-->
          <!--            <div class="form-group col">-->
          <!--              <input-->
          <!--                type="text"-->
          <!--                formControlName="name"-->
          <!--                class="form-control"-->
          <!--                value="{{category.name}}">-->
          <!--            </div>-->
          <!--            <div class="form-group col">-->
          <!--              <input-->
          <!--                type="text"-->
          <!--                formControlName="displayName"-->
          <!--                class="form-control"-->
          <!--                value="{{category.displayName}}">-->
          <!--            </div>-->
          <!--            <div class="form-group col">-->
          <!--              <input-->
          <!--                type="text"-->
          <!--                formControlName="parentId"-->
          <!--                class="form-control"-->
          <!--                value="{{category.parentId}}">-->
          <!--            </div>-->
          <!--            <div class="form-group col-xs-2">-->
          <!--              <button-->
          <!--                type="button"-->
          <!--                class="btn btn-danger"-->
          <!--                (click)="onDeleteCategory(i)">x-->
          <!--              </button>-->
          <!--            </div>-->
          <!--          </div>-->
        </form>
      </div>
    </div>
    <app-pages [pages]="pages" endpoint="categories"></app-pages>
  </div>
</div>
